@font-face {
  font-family: "wxiconfont"; /* Project id 1388626 */
  src: url('iconfont.woff2?t=1667443081641') format('woff2'),
       url('iconfont.woff?t=1667443081641') format('woff'),
       url('iconfont.ttf?t=1667443081641') format('truetype');
}

.wxiconfont {
  font-family: "wxiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wxiconwarning-circle:before {
  content: "\e785";
}

.wxicondashboard:before {
  content: "\e78b";
}

.wxiconsetting:before {
  content: "\e78e";
}

.wxiconuser:before {
  content: "\e7ae";
}

.wxiconfullscreen:before {
  content: "\e7ec";
}

.wxiconfullscreen-exit:before {
  content: "\e7ed";
}

